h1 {
  text-align: center;
  padding: 20px;
}

h2 {
  text-align: center;
  padding: 10px;
}

h6 {
  text-align: center;
  padding: 10px;
}

h5 {
  text-align: center;
  padding: 10px;
}

div {
  align-self: auto;
  padding: 50px;
  margin: 20px;
  text-align: center;
  background-color: lightgrey;
  font-family: "Playfair Display";
}